<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-0 mb-3">
                <li class="nav-item"><a class="nav-link px-2 text-body-secondary">99일간 여정을 떠납니다</a></li>
            </ul>
            <p class="text-center text-body-secondary">항해 99, Team 3</p>
        </footer>
    </div>
</body>
</html>