<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cocktail Recipe</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

      * {
          font-family: 'Gowun Dodum', sans-serif;
      }
      .container {
        margin: 0 200px 20px 200px;
      }
      .recipe-form,
      .ingredient-form-title,
      .recipe-form-title {
        background-image: url(https://img.freepik.com/premium-vector/watercolor-background-with-colorful-ink-splash-watercolor-banner-concept_266878-248.jpg);
        background-size:cover;
        margin-bottom: 20px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        border-radius: 10px;
      }
      #cancleBtn {
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <!--포스팅 폼 입력 div-->
    <div class="container">
      <form action="{{ url_for('recipe_save') }}" method="POST"">
        <div class="recipe-form">
          <div class="recipe-form-title">당신만의 특별한 칵테일 레시피를 공유해주세요.</div>
        </div>
        <!--레시피 이름 입력-->
        <div class="input-group mb-3">
          <span class="input-group-text" id="recipe-name">레시피 이름</span>
          <input
            type="text"
            class="form-control"
            placeholder="칵테일 레시피 이름을 입력해주세요."
            aria-label="cocktail-name"
            aria-describedby="basic-addon1"
            name = "title"
          />
        </div>

        <!--사진 URL 입력-->
        <div class="input-group mb-3">
          <span class="input-group-text" id="image-url">사진 URL</span>
          <input
            type="text"
            class="form-control"
            placeholder="칵테일 사진의 URL을 넣어주세요."
            aria-label="image-url"
            aria-describedby="basic-addon1"
            name="image"
          />
        </div>

        <!--필요한 재료 입력-->
        <div class="input-ingredient-form">
          <div class="ingredient-form-title">필요한 재료</div>
        </div>
        <div class="form-floating mb-3">
          <div class="form-outline">
            <textarea
              class="form-control"
              id="textAreaExample1"
              rows="4"
              placeholder="필요한 재료를 작성해주세요.
            "
            name="ingredient"
            ></textarea>
          </div>
        </div>

        <!--레시피 입력-->
        <div class="input-recipe-form">
          <div class="recipe-form-title">칵테일 제작 순서</div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">1</span>
            <input
              type="text"
              class="form-control"
              placeholder="레시피를 입력해주세요."
              aria-label="Recipe-manual1"
              aria-describedby="basic-addon1"
              name="contents1"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">2</span>
            <input
              type="text"
              class="form-control"
              placeholder="레시피를 입력해주세요."
              aria-label="Recipe-manual2"
              aria-describedby="basic-addon1"
              name="contents2"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">3</span>
            <input
              type="text"
              class="form-control"
              placeholder="레시피를 입력해주세요."
              aria-label="Recipe-manual3"
              aria-describedby="basic-addon1"
              name="contents3"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">4</span>
            <input
              type="text"
              class="form-control"
              placeholder="레시피를 입력해주세요."
              aria-label="Recipe-manual4"
              aria-describedby="basic-addon1"
              name="contents4"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">5</span>
            <input
              type="text"
              class="form-control"
              placeholder="레시피를 입력해주세요."
              aria-label="Recipe-manual5"
              aria-describedby="basic-addon1"
              name="contents5"
            />
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-success" id="submitBtn">
            제출하기
          </button>
          <a href="/" type="button" class="btn btn-danger" id="cancleBtn">
            취소
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
